input.code-input {
    padding: 10px;
    text-align: center;
    margin-right: 10px;
    
    border: 1px solid rgb(224, 224, 224);;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(224, 224, 224);

    font-weight: bold;
    color: rgb(100, 100, 100);
    
}

button.code-button {
    padding: 11px;
    background-color: rgb(0, 103, 199);
    color: white;
    border-style: none;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(224, 224, 224);
}

button.code-button:hover {
    cursor: pointer;
    scale: 1.03;
    background-color: rgb(0, 71, 138);
}

button.code-button:active {
    scale: 0.97;
    background-color: rgb(0, 132, 255);
    box-shadow: 2px 2px rgb(224, 224, 224);
}

p.message {
    color: red;
}