div.feedback {
    display: flex;
    justify-content: center;
}

div.key-peg {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 3px 3px rgb(224, 224, 224);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
}