span.codebreaker {
    font-size: larger;
    color: orange;
}

div.attempts {
    margin: 40px;
}

div.feed {
    margin-top: 40px;
    color: gray;
}

b.to-lose {
    color: rgb(255, 0, 0);
    font-size: x-large;
}